# Copy this to .env and fill values. Do NOT commit .env
WEBMAIL_ADMIN_PWD=change_this_admin_pwd
IMAP_HOST=imap.example.com
IMAP_PORT=993
IMAP_USER=you@example.com
IMAP_PASSWORD=secret_password
# Optional: set FLASK_ENV, PORT
FLASK_APP=app.py
FLASK_RUN_PORT=8080
